<template>
  <div class="header">
    <div class="header-bg">Home</div>
    <div class="header-content">
      <div class="header-profile">
        <div class="profile-name">{{ $t('hi') }} {{ user.name }}</div>
        <!-- <a class="profile-location">
          <i class="pi pi-map-marker" style="font-size: 12px"></i>
          <span>Hà Nội</span>
          <i class="pi pi-chevron-right" style="font-size: 10px"></i>
        </a> -->
      </div>
      <div class="header-round-avatar" @click="showMyCode" :style="{
        backgroundImage: `url(${user.avatar})`
      }">
        
      </div>
    </div>
    <div class="p-inputgroup flex-1 textbox-search">
        <span class="p-inputgroup-addon">
            <i class="pi pi-search"></i>
        </span>
        <InputText style="width: 100%" v-model="value1" 
          placeholder="Search" @keyup.enter="onSearch" />
        <span class="p-inputgroup-addon" @click="openQR">
            <i class="pi pi-qrcode"></i>
        </span>
    </div>
  </div>
</template>
<script setup>
import { ref, computed } from "vue";
import MyCode from "@/components/mycode.vue";
import { scanQRCode } from "zmp-sdk/apis";

const value1 = ref(null);
const user = computed(() => window.stores.user);

function onSearch(e) {
  window.$router.push({
    path: '/search/',
    query: { q: e.target.value }
  })
}

window.showMyCode = () => {
  const dialogRef = window.$dialog.open(MyCode, {
    props: {
      header: 'Thông tin',
      style: {
        width: '50vw',
      },
      breakpoints:{
        '960px': '75vw',
        '640px': '90vw'
      },
      modal: true
    }
  });
}
const showMyCode = window.showMyCode;

function openQR() {
  scanQRCode({
    success: (data) => {
      console.log(data);
      const { content } = data;
      const part = content.split("referer=");
      if ( part.length==2 ) {
        const code = part[1].split("&").shift();
        onSearch({
          target: {
            value: code
          }
        });
      }
    },
    fail: (error) => {
      console.log(error);
    }
  });
}
</script>
<style scoped>
.header {
  position: relative;
  max-width: 100vw;
  height: 150px;
}
.header-bg {
  position: absolute;
  width: 150%;
  height: 200px;
  left: -25%;
  top: -50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  /*background: linear-gradient(0deg, #f9963b 0%, #f9963b 0.01%, #f95d3b 100%);*/
  background: linear-gradient(0deg, red 0%, #f9963b 0.01%, #f95d3b 100%);
  z-index: 1;
}
.header-content {
  z-index: 2;
  position: absolute;
  top: 20px;
  margin: 0 5vw;
  width: 90vw;
  color: white;
}
.textbox-search {
  width: 90vw;
  position: absolute;
  left: 5vw;
  top: 85px;
  z-index: 2;
}
.header-round-avatar {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  float: right;
  background-size: cover;
}
.header-profile {
  float: left;
  display: flex;
  flex-direction: column;
}
.profile-name {
  font-weight: bold;
}
.profile-location {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  color: white;
}
</style>
