<template>
	<div class="event-detail flex flex-column gap-4">
		<div class="flex flex-column gap-2">
			<label>Tên người dùng</label>
			<InputText :value="user.name" disabled />
		</div>
		<div class="flex flex-column gap-2">
			<label>Số điện thoại</label>
			<InputText :value="user.phone" disabled />
		</div>
		<div class="flex flex-column gap-2">
			<label>Tài khoản ngân hàng</label>
			<Textarea v-model="bank" rows="3" cols="30" />
		</div>
		<div class="flex flex-row gap-2">
		  <Button label="Lưu thông tin" 
			class="full-width" @click="updateInfo" />
		</div>
	</div>
</template>
<script setup>
import {ref} from "vue";
const user = window.stores.user;
const bank = ref(user.bank)

function updateInfo() {
	window.$api.call("user/updateInfo", { bank: bank.value }).then(res => {
		window.$toast.add({
	        severity: 'success',
	        summary: 'Thông báo',
	        detail: 'Cập nhật thông tin thành công',
	        life: 3000
	    });
	})
}
</script>
<style scoped>

</style>