<template>
	<TabView>
	    <TabPanel header="Mã đại lý">
	        <div v-if="user.nodeId">
				<div>Mã đại lý của bạn là <strong style="color: red">{{ user.nodeId }}</strong></div>
				<div class="desc">Hãy đưa mã này cho các đại lý cấp dưới, nhập vào ô tìm kiếm để tham gia vào mạng lưới của bạn. Chú ý nhập đúng viết hoa viết thường. Hoặc quét mã QR sau</div>
				<div style="text-align: center; margin-top: 10px">
					<qrcode-vue :value="zaloUrl"></qrcode-vue>
				</div>
				<div class="flex flex-column gap-2">
		            <label>Hoặc gửi link giới thiệu</label>
		            <div class="p-inputgroup flex-1">
					    <InputText :value="zaloUrl" disabled />
					    <span v-if="isSupported" class="p-inputgroup-addon" 
					    	@click="copy(zaloUrl)">{{ copied?'Đã sao chép':"Copy" }}</span>
					</div>
		        </div>
			</div>
			<div v-else>
				Bạn chưa gia nhập mạng lưới kinh doanh của chúng tôi
			</div>
	    </TabPanel>
	    <TabPanel header="Thông tin cá nhân">
	        <edit-info />
	    </TabPanel>
	</TabView>
	
</template>
<script setup>
import QrcodeVue from 'qrcode.vue';
import { useClipboard } from '@vueuse/core';
import EditInfo from './editInfo.vue';

const user = window.stores.user;
const zaloUrl = `https://zalo.me/s/${import.meta.env.VITE_APP_ID}/?referer=${user.nodeId}`;
const { copy, isSupported, copied } = useClipboard({ source: zaloUrl })
</script>
<style scoped>
.desc {
	font-size: 14px;
	color: rgba(100, 100, 100, 0.8);
}
</style>