<template>
  <component :is="Setup" @loaded="setupReady=true" />
  <router-view v-if="setupReady" />
</template>
<script setup>
import { onMounted, ref, watch } from "vue";
import { useRouter, useRoute } from "vue-router";
import { defineAsyncComponent } from "vue";
const Setup = defineAsyncComponent(() => import("remote_app/pageSetup"));

const setupReady = ref(false);
onMounted(_ => {
  window.$router = useRouter();
  window.$route = useRoute();
});
watch(setupReady, () => {
  window.$router.replace(window.$route.path);
})
</script>
<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}
</style>
