<template>
  <Toast />
  <DynamicDialog />
  <ConfirmDialog />
</template>
<script setup>
import {onMounted} from "vue";
import getRoutes from "@/helper/routes";
import { useToast } from "primevue/usetoast";
import { useDialog } from 'primevue/usedialog';
import DynamicDialog from 'primevue/dynamicdialog';
import ConfirmDialog from 'primevue/confirmdialog';
import { useConfirm } from "primevue/useconfirm";
import { getUserInfo, getAccessToken } from "zmp-sdk/apis";

import "@/style.css";
import "primevue/resources/themes/lara-light-indigo/theme.css";
import "primeflex/primeflex.scss";
import "primeicons/primeicons.css";

const emit = defineEmits(['loaded']);
onMounted(async () => {
  const addedRoute = window.$router.getRoutes();
  const routes = getRoutes('remote');
  routes.forEach(r => {
    const existed = addedRoute.find(r2 => r2.path==r.path);
    if ( !existed ) {
      window.$router.addRoute(r)
    }
  });

  window.$dialog = useDialog();
  window.$toast = useToast();
  window.$confirm = useConfirm();

  return getUserInfo({}).then(info => {
    return window.$api.currentUser(info.userInfo).then(user => {
      window.stores.user.update(user);
    });
  }).catch(e => {
    console.log(e)
    window.$toast.add({
      severity: 'info',
      summary: 'Có lỗi xảy ra',
      detail: 'Không thể lấy thông tin người dùng',
      life: 3000
    });
  }).finally(_ => {
    emit('loaded');
  });
});
</script>
<style scoped>

</style>