<template>
  <component :is="Setup" @loaded="setupReady=true" />
  <router-view v-if="setupReady" />
</template>
<script setup>
import { onMounted, ref, watch } from "vue";
import { useRouter, useRoute } from "vue-router";
import { defineAsyncComponent } from "vue";
import Setup from "@/pages/pageSetup.vue";

const setupReady = ref(false);
window.$router = useRouter();
window.$route = useRoute();
watch(setupReady, () => {
  window.$router.replace(window.$route.path);
})
</script>
<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}
</style>
